/* BAGIAN CSS INDEX */
*{
  padding:0;
  margin:0;
  font-family: 'MS Sans Serif';
}
.img-logo{
  width: 180px;
  height: 50px;
  margin-left: 100px;
}
nav {
  background-color: #ed1e28;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  margin: 0 100px;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a.active {
  color: #2200ff;
}
.marquee {
  font-weight: lighter;
  height: 30px;
  margin-top: 10px;
}
.marquee2{
  font-weight: lighter;
  margin-bottom: 10px;
  font-size: 14px;
}
.welcome-container{
  margin-left: 100px;
}


@media only screen and (max-width: 1156px) {
  nav {
    height: auto;
    padding: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 10px 0;
  }
  .img-logo{
    margin-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    height: auto;
    padding: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 10px 0;
  }
  .img-logo{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 480px) {
  nav ul li {
    margin: 5px 0;
  }
}

/*Hero */
.hero-container{
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.hero-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1156px) {
  .welcome-container {
    margin: 0px 0 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .welcome-container {
    margin: 0px 0 0 20px;
  }
}

/* Product */
h1{
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.judul{
  font-size: 32px;
}

.product-container {
  width: 100%;

}

.img-product {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 20px;
}

.img-product div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-product img {
  width: 150px;
  height: 130px;
  border-radius: 50%;
}
.desc-product{
  margin-top: 18px;
  margin-bottom: 10px;
}
.desc-small{
  text-align: center;
}
@media screen and (max-width: 1156px) {
  .img-product {
    display: block;
    margin: 10px 0px 0 0px;
    padding: 0;
  }

  .img-product > * {
    display: block;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .img-product {
    display: block;
    margin: 10px 0px 0 0px;
    padding: 0;
  }

  .img-product > * {
    display: block;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .img-product {
    width: 50%;
  }
  .img-product {
    display: block;
    margin: 10px 0px 0 115px;
    padding: 0;
  }
}

/*About*/
.about-container{
margin: 50px 350px 50px 350px;
font-weight: lighter;
line-height: 1.5;
text-align: center;
}

@media screen and (max-width: 768px) {
.about-container{
margin: 50px 20px 50px 20px;
font-weight: lighter;
line-height: 1.5;
text-align: center;
}
}
@media screen and (max-width: 1100px) {
.about-container{
  margin: 50px 20px 50px 20px;
  font-weight: lighter;
  line-height: 1.5;
  text-align: center;
}
}
@media screen and (max-width: 1156px) {
  .about-container{
    margin: 50px 20px 50px 20px;
    font-weight: lighter;
    line-height: 1.5;
    text-align: center;
  }
  }

/*Vision & Mission*/
.vision-container{
margin: 30px 250px 50px 250px;

}
.vision-container h2{
margin: 20px 0 20px 0;
}
.vision-container p{
font-weight: lighter;
line-height: 1.5;
}
.p-vision{
font-weight: 800;
line-height: 1.5;
}
@media screen and (max-width: 1156px) {
  .vision-container{
    margin: 30px 20px 50px 40px;
   
  }
  }
@media screen and (max-width: 1100px) {
.vision-container{
  margin: 30px 20px 50px 40px;
 
}
}
@media screen and (max-width: 768px) {
.vision-container{
  margin: 30px 20px 50px 40px;
 
}
}


/*Message Us*/
  .container {
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .box {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
  }
  .message-form{
    margin-bottom: 30px;
  }
  form {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    margin-left: 120px;
  }
  .laki{
    margin-right: 20px;
  }
  .button-container {
    text-align: center;
    grid-column: 1 / span 2;
  }
  .submit-button{
    width: 100%;
    margin: 10px 0 0 120px;
  }
  .container-message{
    margin: 30px 90px 50px 80px;
    
  }
  .value-message{
    height: 300px;
    width: 500px;
  }
  .value-message strong {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  textarea {
    width: 88%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #gender label {
    margin-right: 10px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  
  @media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
    label {
      margin-bottom: 5px;
      font-weight: bold;
      margin-left: 10px;
    }
    .submit-button{
      width: 65%;
      margin-left: 100px;
    }
    .container-message{
      margin-left: 0%;
      
    }
    .value-message{
      margin: 20px 0px 20px 30px;
      width: 100%;
    }

  }

  @media screen and (max-width: 1156px) {
    .grid {
      grid-template-columns: 1fr;
    }
    label {
      margin-bottom: 5px;
      font-weight: bold;
      margin-left: 10px;
    }
    .submit-button{
      width: 65%;
      margin-left: 100px;
    }
    .container-message{
      margin-left: 0%;
      
    }
    .value-message{
      margin: 20px 0px 20px 30px;
      width: 100%;
    }

  }
  
  

/*Footer*/
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: right;
  font-size: 14px;
}

/* Style for links in the footer */
footer a {
  color: #000;
  text-decoration: none;
}